{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <div class="center">
        <h1 class="mb-3">
            Saisir une fiche frais
        </h1>
    </div>


<div class="container">
    <h2> Eléments hors forfaits</h2>
    {{ form_start(formFraisF) }}

    <div class="corpsForm">
        <fieldset>
            <legend>Elements forfaitisés</legend>
            {{ form_widget(formFraisF) }}
        </fieldset>
        <br/>
    </div>
    <div class="center">
        <button type="submit" class="btn btn-dark custom-button mb-3 ps-5 pe-5 mt-3">{{ button_label|default('Valider') }}</button>
        <button type="reset" class="btn btn-dark custom-button mb-3 ps-5 pe-5 mt-3">{{ button_label|default('Effacer') }}</button>
    </div>
    {{ form_end(formFraisF) }}


        <div class="encadre">


            <h2> Eléments hors forfaits</h2>
            {{ form_start(formFraisHF) }}
            <div class="corpsForm">
                <fieldset>
                    <legend>Elements hors forfaits</legend>
                    {{ form_widget(formFraisHF) }}

                </fieldset>
                <br/>
            </div>
            <div class="center">
                <button type="submit" class="btn btn-dark custom-button mb-3 ps-5 pe-5 mt-3">{{ button_label|default('Valider') }}</button>
                <button type="reset" class="btn btn-dark custom-button mb-3 ps-5 pe-5 mt-3">{{ button_label|default('Effacer') }}</button>
            </div>
            {{ form_end(formFraisHF) }}
        </div>
    {% if selectedFiche is not null %}
        <table class="container table">
            <thead>
            <th>Date</th>
            <th>Libellé</th>
            <th>Catégorie</th>
            <th>Montant</th>
            </thead>
            <tbody>
            {% for uneLigneFraisHorsForfait in selectedFiche.ligneFraisHorsForfait %}
                <tr>
                    <td>{{ uneLigneFraisHorsForfait.date|date('Y/m/d') }}</td>
                    <td>{{ uneLigneFraisHorsForfait.libelle }}</td>
                    <td>{{ uneLigneFraisHorsForfait.categorie.libelle }}</td>
                    <td>{{ uneLigneFraisHorsForfait.montant }}</td>
                    <td>{{ include('ligne_frais_hors_forfait/_delete_form.html.twig') }}</td>
                </tr>
            {%endfor%}
            </tbody>

        </table>
    {% endif %}
</div>
    <br/><br/>


{% endblock %}
