{% extends 'base.html.twig' %}

{% block title %}Hello FicheController!{% endblock %}

{% block body %}

    <div class="center">
        <h3 class="mb-3">
            Saisir une fiche frais
        </h3>
    </div>


<div class="container">
    <h2> Eléments hors forfaits</h2>
    {{ form_start(formFraisF) }}

    <div class="corpsForm">
        <fieldset>
            <legend>Elements forfaitisés</legend>
            {{ form_widget(formFraisF) }}
        </fieldset>
        <br/>
    </div>
    <div class="center">
        <button type="submit" class="btn btn-dark custom-button mb-3 ps-5 pe-5 mt-3">{{ button_label|default('Valider') }}</button>
        <button type="reset" class="btn btn-dark custom-button mb-3 ps-5 pe-5 mt-3">{{ button_label|default('Effacer') }}</button>
    </div>
    {{ form_end(formFraisF) }}


        <div class="encadre">


            <h2> Eléments hors forfaits</h2>
            {{ form_start(formFraisHF) }}
            <div class="corpsForm">
                <fieldset>
                    <legend>Elements hors forfaits</legend>
                    {{ form_widget(formFraisHF) }}

                </fieldset>
                <br/>
            </div>

            {{ form_end(formFraisHF) }}

        </div>
</div>
    <br/><br/>


{% endblock %}
